[submodule "Samara_HSD/lib/Samara_HAL"]
	path = Samara_HSD/lib/Samara_HAL
	url = https://github.com/SamaraFlightGroup/Samara_HAL.git
[submodule "Samara_HSD/lib/CMSIS_Core_CMake"]
	path = Samara_HSD/lib/CMSIS_Core_CMake
	url = https://github.com/SamaraFlightGroup/CMSIS_Core_CMake.git
